.subheader {
  color: #edecf1;
  span {
    color: $orange;
  }
}

/*       { sidebar }      */
.sidebar {
  .section__sidebar {
    background: $bg;
    .menu {
      &__item {
        &--link {
          color: $gray;

          svg {
            width: 20px;
            height: 20px;
            path {
              fill: $gray;
              transition: all 0.3s ease-in-out;
            }
          }
          p {
            padding-left: 20px;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      &__item :hover {
        color: $activeIcon;
        svg {
          path {
            fill: $activeIcon;
          }
        }
      }
    }
  }
}

/*      { Main }        */
.main {
  /*      { hero__section }        */
  .hero__section {
    .icons {
      & :hover {
        svg {
          .github__item,
          .linkedin__item,
          .instagram__item,
          .youtube__icon {
            fill: $activeIcon;
            transition: all 0.2s ease-in-out;
          }
        }
      }
    }
    .hero {
      .about {
        color: #edecf1;
        &__title {
          color: $orange;
        }
        &__btn {
          color: $text;
          background: #8541fa;
          box-shadow: 0px 0px 25px rgba(133, 65, 250, 0.3);
          transition: all 0.3s ease-in-out;
          &:hover {
            background: #a068ff;
          }
          &:active {
            background: $activeIcon;
          }
        }
      }
      .image__block {
        .block {
          background: $orange;
        }
      }
    }
  }

  /*      { biography__section }        */
  .biography__section {
    color: #edecf1;
    .biography__text {
      color: $text;
    }
    .range {
      padding-bottom: 50px;
      text-align: center;
      input,
      output {
        display: inline-block;
        vertical-align: middle;
        font-size: 1em;
        font-family: Arial, sans-serif;
      }

      output {
        background: $bg;
        padding: 5px 16px;
        border-radius: 3px;
        color: #fff;
      }

      input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
        max-width: 448px;
        height: 4px;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 10px;
        background-image: linear-gradient($activeIcon, $activeIcon);
        background-size: 35% 100%;
        background-repeat: no-repeat;
      }

      /* Input Thumb */
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: $activeIcon;
        border: 2px solid #ffffff;
        cursor: ew-resize;
      }
    }
  }

  /*       { skills__section }      */
  .skills__section {
    .skills {
      &__item {
        background: #2c314f;
        color: rgba(198, 199, 201, 0.5);
        &:hover {
          background: #a068ff;
          box-shadow: 0px 0px 25px rgba(133, 65, 250, 0.3);
          color: #edecf1;
        }
        &:active {
          background: $activeIcon;
        }
      }
      .cards {
        &__item {
          border: 2px solid #2c314f;
        }
      }
    }

    /*       { works__section }      */

    /*       { education__section }      */
    .education__section {
      .education__container {
        .educations {
          .education__card {
            &--text {
              .text__subheader {
                color: #edecf1;
              }
            }
            &--line {
              border: 1.4px rgba(198, 199, 201, 0.5) solid;

              @media (max-width: 768px) {
              }
            }
            &--years {
              color: rgba(255, 255, 255, 0.05);
              @media (max-width: 768px) {
                color: rgba(255, 255, 255, 0.25);
              }
            }
          }
        }
      }
    }

    /*       { footer__section }      */
    .footer__section {
      .footer__icons {
        &--item {
          background: #2c314f;
        }
      }
    }
  }
}
