$back: #10141d;
$bg: #151c2c;
$text: #ffffff;
$gray: #c6c7c9;
$orange: #fcbd30;
$activeIcon: #8541fa;
$lightbg: #edecf1;
$darktext: #2c314f;

section,
.sidebar .section__sidebar {
  background: $lightbg;
  color: $darktext;
}

.subheader {
  color: $darktext;
}

/*       { sidebar }      */
.sidebar {
  .section__sidebar {
    .menu {
      &__item {
        &--link {
          color: $darktext;

          svg {
            width: 20px;
            height: 20px;

            path {
              fill: $darktext;
            }
          }
        }
      }
    }
  }
}

/*      { Main }        */
.main {

  /*      { hero__section }        */
  .hero__section {
    .hero {
      .about {
        color: $darktext;
      }
    }
  }

  /*      { biography__section }        */
  .biography__section {
    color: $darktext;

    .biography__text {
      color: $darktext;
    }

    .range {
      padding-bottom: 50px;
      text-align: center;

      input,
      output {
        display: inline-block;
        vertical-align: middle;
        font-size: 1em;
        font-family: Arial, sans-serif;
      }

      output {
        background: $bg;
        padding: 5px 16px;
        border-radius: 3px;
        color: #fff;
      }

      input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
        max-width: 448px;
        height: 4px;
        background: $gray;
        border-radius: 10px;
        background-image: linear-gradient($activeIcon, $activeIcon);
        background-size: 35% 100%;
        background-repeat: no-repeat;
      }

      /* Input Thumb */
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: $activeIcon;
        border: 2px solid #ffffff;
        cursor: ew-resize;
      }
    }
  }

  /*       { skills__section }      */
  .skills__section {
    .skills {
      &__item {
        background: $gray;
        color: rgba(44, 49, 79, 0.5);

        &:hover {
          background: #a068ff;
          box-shadow: 0px 0px 25px rgba(133, 65, 250, 0.3);
          color: #edecf1;
        }

        &:active {
          background: $activeIcon;
        }
      }
    }

    .cards__item {
      border: 2px solid $gray;
      color: $darktext;
    }
  }

  /*       { works__section }      */

  /*       { education__section }      */
  .education__section {
    .education__container {
      .educations {
        .education__card {
          &--text {
            .text__subheader {
              color: $darktext;
            }

            .text__info {
              color: $darktext;
            }
          }

          &--line {
            border: 1.4px rgba(44, 49, 79, 0.5) solid;
          }

          &--years {
            color: rgba(44, 49, 79, 0.05);
          }
        }
      }
    }
  }

  /*       { footer__section }      */
  .footer__section {
    .footer__icons {
      &--item {
        background: #2c314f;
      }
    }
  }
}