.popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    border: 1px solid rgb(155, 154, 154);
    padding: 25px;
    text-align: center;
    background: rgb(245, 240, 240);
    border-radius: 20px;

    span {
        display: inline-flex;
        width: 20px;
        height: 20px;
        justify-content: center;
        text-align: center;
        border-radius: 50%;
        background: rgb(36, 34, 34);
        color: $gray;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {

            background: $gray;
            color: rgb(214, 6, 6);
        }
    }
}