.swiper {
  max-width: 711px;
  padding-top: 50px;
  padding-bottom: 32px;
}

.swiper-wrapper {
  justify-content: center;
  gap: 20px;
  max-width: 711px;
  margin: 0 auto;
}

.swiper-slide {
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  width: 203px !important;
  height: 241px !important;
  overflow: hidden;
  border-radius: 12px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  opacity: 0.5;

  &:hover {
    .slide__content {
      transition: all 0.3s ease-in-out;
      filter: blur(6.5px);
    }

    .blur__content--btn {
      transition: all 0.3s ease-in-out;
      display: block;
    }
  }

  .blur__content--btn {
    display: none;
    position: absolute;
    padding: 10px 40px;
    background: #8541FA;
    box-shadow: 0px 0px 25px rgba(133, 65, 250, 0.25);
    border-radius: 12px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    z-index: 999999999999999;

    &:hover {
      background: #A068FF;
    }

    &:active {
      background: #7036D3;
    }
  }

  .slide__content {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;



    &--text {
      background: #2C314F;
      color: #fff;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      width: 225px;
      height: 46px;
      justify-content: center;
      align-items: center;
      display: flex;
    }

  }
}

@media (max-width: 760px) {
  .swiper-button-next {
    right: 20px;
  }

  .swiper-button-prev {
    left: 20px;
  }
}

.slide-1 {
  background-image: url(../img/slide1.png);
}

.slide-2 {
  background-image: url(../img/slide2.png);
}

.slide-3 {
  background-image: url(../img/slide3.png);
}

.swiper-slide-next {
  width: 225px !important;
  height: 267px !important;
  opacity: 1;
}

.swiper-button-next {
  padding: 20px;
  width: 15px;
  height: 15px;
  top: 156px;
  right: 0;
  background: rgba(198, 199, 201, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 12px;
}

.swiper-button-prev {
  padding: 20px;
  width: 15px;
  height: 15px;
  top: 156px;
  left: 0;
  background: rgba(198, 199, 201, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 12px;
}

.swiper-button-next,
.swiper-button-prev :root {
  --swiper-navigation-size: 15px !important;
  color: #fcbd30;
}

.swiper-button-prev,
.swiper-button-next :root {
  --swiper-navigation-size: 15px !important;
  color: #fcbd30;
}